*{
  box-sizing: border-box;
  font-family: "AvenirNext", "Lato", "Hirago KakuGothic ProN", Meiryo, sans-serif;
  /*border: 1px solid #000;*/
}

body {
  font-family: "AvenirNext", "Lato", "Hirago KakuGothic ProN", Meiryo, sans-serif;
  /*background-color: #F9FBFE;*/  
  height: 2000px;
}

#Header {
  background-color: #F9FBFE;
  padding: 24px 32px;
  position: sticky;
  top: 0;
}

#Header > .Navbar {
  display: flex;
  justify-content: space-between;

}

#Header > .Navbar > .Nav-left a img {
  /*margin-top: 6px;*/
  position: relative;
  top: 6px;
}

#Header > .Navbar > .Nav-right{
  display: flex;
  /*height: 40px;*/
  /*position: relative;*/
  /*top: 10px;*/
}

#Header > .Navbar > .Nav-right a{
  line-height: 40px;
  margin: 0px 8px;
  padding: 0px 16px;
  font-size: 14px;
}

#dropdown-basic {
  background-color: #F9FBFE;
  color: #000;
  border: none;
  position: relative;
  top: 5px;
  font-size: 14px;
}

#Header > .Navbar > .Nav-right > .Btn{
  border: none;
  border-radius: 5px;
  padding: 0px 16px;
  background-color: #30C8D6;
  font-size: 12px;
  font-weight: bold;
  color: rgba(255 255 255);
  line-height: 40px;
  transition: all 0.3s ease-in-out 0s;
}

#Content-wrapper {
  background-color: #F9FBFE;
  /*padding: 136px 0 0;*/
  padding: 50px 0 0;
  height: 400px;
}

#Content-wrapper > .Jumbotron {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.48px;
  margin: 0;
}

#Content-wrapper > .Jumbotron span {
  color: #2b546a;
}

#Content-wrapper > .Content-container {
  display: flex;
  /*justify-content: space-between;*/
  line-height: 2;
  margin: 16px 0px 48px;
}

#Content-wrapper > .Content-container > .Landing-left {
  text-align: center;
  flex: 1;
  margin: 0px 24px 0px 0px;
  /*border: 1px solid #000;*/
}

#Content-wrapper > .Content-container > .Landing-left > img {
  margin: 0px 8px 0px 0px;
  position: relative;
}

#Content-wrapper > .Content-container > .Landing-left > .Pengguna {
  margin: 0px 3px 0px 0px;
  color: #2B546A;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .02em;
  padding: 6px;
  position: relative;
  /*top: 2px;*/
}

#Content-wrapper > .Content-container > .Landing-left span {
  font-size: 13px;
  color: #8491a5;
  font-weight: bold;
}

#Content-wrapper > .Content-container > .Landing-right {
  text-align: center;
  flex: 1;
  /*border: 1px solid #000;*/
}

#Content-wrapper > .Content-container > .Landing-right > img {
  margin: 0px 8px 0px 0px;
  position: relative;
  top: -1px;
}

#Content-wrapper > .Content-container > .Landing-right > .Spn1 {
  margin: 0px 3px 0px 0px;
  font-size: 13px;
  font-weight: bold;
  color: #8491a5;
}

#Content-wrapper > .Content-container > .Landing-right > .Spn2 {
  margin: 0px 3px 0px 0px;
  font-size: 18px;
  font-weight: bold;
}

#Content-wrapper > .Content-container > .Landing-right > .Spn3 {
  font-weight: bold;
  font-size: 13px; 
  color: #8491a5;
}

#Content-wrapper > section {
  text-align: center;
}

#Content-wrapper > section > .BrztNc {
  border: none;
  font-size: 14px;
  text-align: center;
  padding: 0px 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  color: rgb(255, 255, 255);
  background-color: #30C8D6;
  min-width: 200px;
  line-height: 48px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.Program-container {
  background-color: #F9FBFE;
  padding: 96px 38.4375px;
  /*border: 1px solid #000;*/
}

.Animasi {
  background-color: #88E7CE;
  padding: 100px 38.4375px 0px;
  height: 608px;
}


.Program-container > .Program-kerja {
  width: 100%;
  display: flex;
  justify-content: center;
  /*border: 1px solid #000;*/
}

.Program-container > .Program-kerja > .Jumbotron {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.48px;
  color: #2b546a;
  max-width: 1000px;
  /*border: 1px solid #000;*/
}

.Image-container {
  /*border: 1px solid #000;*/
  text-align: center;
}

.Ilustrasi {
  text-align: center;
  /*border: 1px solid #000;*/
}

.Component-container {
  background-color: #2B546A;
  padding: 96px 40.6406px;
  width: 100%;
  font-family: "AvenirNext", "Lato", "Hirago KakuGothic ProN", Meiryo, sans-serif;
}

.Component-container > .Component-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 56px 0px;
}

.Component-container > .Component-wrapper > .Card-component {
  background-color: #fff;
  padding: 40px 24px;
  border-radius: 10px;
  flex-direction: column;
  max-width: 276.84px;
  text-align: center;
  font-weight: bold;
  transition: .3s;
}

.Footer-container{
  background-color: #eee;
  letter-spacing: 0.03em;
  /*border: 1px solid #000;*/
}

.Footer-wrapper {
  margin: 0px 76px;
  padding: 50px 0px;
  /*border: 1px solid #000;*/
}

.Row {
  display: flex;
  width: 100%;
  height: 238px;
  /*border: 1px solid #000;*/
}

.Satu {
  min-width: 332px;
  height: 86px;
  line-height: 40px;
  padding-bottom: 48px;
  padding: 0px 15px;
  /*border: 1px solid #000;*/
}

.Dua {
  flex: 1.5;
  /*border: 1px solid #000;*/
}

.Dua > h4 {
  margin: 0;
  font-size: 17px;
  color: #2b546a;
}

.Dua > ul > li {
  padding: 10px 0px 0px;
}

.Dua > ul > li > a {
  font-size: 12px;
  color: #6783A0;
}

.Tiga {
  flex: 1.5;
  /*border: 1px solid #000;*/
}

.Tiga > h4 {
  margin: 0;
  font-size: 17px;
  color: #2b546a;
}

.Tiga > ul > li {
  padding: 10px 0px 0px;
}

.Tiga > ul > li > a {
  font-size: 12px;
  color: #6783A0;
}

.Empat {
  flex: 2;
  padding: 0px 15px;
  height: 119px;
  /*border: 1px solid #000;*/
}

.Empat > h4 {
  margin: 0;
  font-size: 17px;
  color: #2b546a;
}

.Empat > ul > li {
  padding: 10px 0px 0px;
}

.Empat > ul > li > a {
  font-size: 12px;
  color: #6783A0;
}

ul {
  list-style: none;
}